*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Slab', serif;
    background-color: rgb(235, 202, 207);
    font-size: 19px;
}
#root{
    height: 100vh;
    width: 800px;
    margin: auto;
    text-align: center;
}
h1{
    font-size: 100px;
    color: darkmagenta;
    margin: 30px 0;
    border-bottom: 2px solid darkmagenta;
}
input{
    border-radius: 20px;
    padding: 10px;
    margin-right: 20px;
    text-align: center;
}
.check-box{
    
    margin-top:8px;
}
.btn{
    padding: 10px 14px;
    border-radius: 20px;
    background-color: rgb(240, 200, 207);
    font-weight: 700;
    cursor: pointer;
}
li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid darkgrey;
    padding: 10px;
    
}
ul{
    margin-top: 50px;
}
small{
    font-size: 12px;
    line-height: 28px;
}
.icon{
    padding: 0 10px;
    color: darkmagenta;
}
.checked{
    color:gray;
}
.fas{
    padding: 0 10px;
    color: darkmagenta;
    
}

.remove-to-do :only-child{
    display:none;
}
i{
    cursor: pointer;
}
h3{
    color: darkmagenta;
    margin-top: 70px;
    border-bottom: 1px solid darkgrey;
}
.done{
    color: white;

}